* {
box-sizing: border-box;
}

*:focus {
outline: none;
}
body {
font-family: Arial;
background-color: #3498DB;
padding: 50px;
}
.login {
margin: 10px auto;
width: 300px;
position: absolute;
top:10px;
right:10px;
}
#dialog-window {
  height: 600px;
  border: 1px black solid;
}
#scrollable-content {
  height: 70px;
  overflow: scroll;
}
.login-screen {
background-color: #FFF;
padding: 1px;
border-radius: 5px
}

.logout {
margin: 2px auto;
width: 300px;
position: absolute;
top:10px;
right:10px;
float:left;
}
.logout-screen {
background-color: #FFF;
padding: 5px;
border-radius: 10px
position: absolute;
top:10px;
left:10px;
}

.app-title {
text-align: center;
color: #777;
}

.login-form {
text-align: left;
}
.control-group {
margin-bottom: 10px;
}

input {
text-align: center;
background-color: #ECF0F1;
border: 2px solid transparent;
border-radius: 3px;
font-size: 16px;
font-weight: 200;
padding: 10px 0;
width: 250px;
transition: border .5s;
}

input:focus {
border: 2px solid #3498DB;
box-shadow: none;
}

.btn {
border: 2px solid transparent;
background: #3498DB;
color: #ffffff;
font-size: 16px;
line-height: 25px;
padding: 10px 0;
text-decoration: none;
text-shadow: none;
border-radius: 3px;
box-shadow: none;
transition: 0.25s;
display: block;
width: 250px;
margin: 0 auto;
}

.btn:hover {
background-color: #2980B9;
}

.login-link {
font-size: 12px;
color: #444;
display: block;
margin-top: 12px;
}

.logout-link {
font-size: 12px;
color: #444;
display: block;
margin-top: 12px;
}

a {
  color: white;
}
td > a {
  color: black;
}
div#Closed {
  background-color: #82fa8a;
}
div#Outage {
  background-color: #fa9e82;
}
div#Partial {
  background-color: #fac482;
}
div#Open {
  background-color: #fafcb3;
}

body {
  font-family: sans;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 2px;
}

h1 {
  text-align: center;
  font-family: sans;
  color: #303a74;
}

a {
  text-decoration: none;
  color: black;
}

.c-service__list {
  display: flex;
  flex-basis: 30%;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
}

.c-service__list_one {
  display: flex;
  flex-basis: 70%;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
}
.c-service__element {
  background-color: #fff8de;
  width: 90%;
  dsplay: flex;
  flex-wrap: wrap;
  align-items: center;
  margin: 5px;
  padding-top: 18px;
  transition: all 0.2s ease;
  z-index: 1;
}
.c-service__element:hover {
  -webkit-box-shadow: 0 0 3px 0px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: 0 0 3px 0px rgba(0, 0, 0, 0.25);
  box-shadow: 0 0 3px 0px rgba(0, 0, 0, 0.25);
  cursor: pointer;
  transform: translateY(-5px) scale(1.02);
  background-color: #efece4;
  z-index:2;
}
.c-service__element_br {
  background-color: #fff8de;
  width: 20%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin: 5px;
  padding-top: 18px;
  transition: all 0.2s ease;
  z-index: 1;
}
.c-service__element_br:hover {
  -webkit-box-shadow: 0 0 3px 0px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: 0 0 3px 0px rgba(0, 0, 0, 0.25);
  box-shadow: 0 0 3px 0px rgba(0, 0, 0, 0.25);
  cursor: pointer;
  transform: translateY(-5px) scale(1.02);
  background-color: #efece4;
  z-index:2;
}
.c-service__content {
  padding-right: 15px;
  margin: 5px;
  justify-content: center;
  flex-direction: column;
  display: flex;
  font-size: 25px;
}

.c-service__content_one {
  padding-right: 15px;
  margin: 5px;
  width: 90%;
  justify-content: center;
  flex-direction: column;
  display: flex;
  font-size: 25px;
}

.c-service__content>h2 {
  font-size: 18px;
}

.c-service__image {
  height: auto;
  transition: all 0.2s ease;
  width: 40%;
  border-radius: 25px;
  float: left;
  max-width: 160px;
  margin-right: 20px;
  margin-left: 10px;
}


.c-service__link {
  color: #b17525;
  background-color: #fff;
  padding: 5px;
  border: 2px solid #b17525;
  border-radius: 5px;
  text-decoration: none;
  transition: all 0.2s ease;
}

.c-service__element:hover .c-service__link {
  background-color: #b17525;
  color: #fff;
  -webkit-box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.25);
  box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.25);
}

.c-service__element:hover .c-service__image{
  transform: rotate(-5deg);
}

.c-service__origin {
  flex-grow: 1;
  width: 100%;
  text-align: right;
  font-style: italic;
  padding: 5px;
  color: #888;
  font-family: monospace;
  word-break: break-all;
}

@media screen and (max-width: 1023px) {
  .c-service__element {
    width: 45%;
  }

}
@media screen and (max-width: 767px) {
  .c-service__element {
    width: 100%;
  }

  .c-service__image {
    width: 30%;
  }
}

.atlwdg-trigger.atlwdg-TOP  {
   left: 5% !important;
}
