
#dialog-window {
  height: 600px;
  border: 1px black solid;
}
#scrollable-content {
  height: 500px;
  width: 400px;
  overflow: scroll;
  float: left;
  background-color: #3498DB;
  margin: 5px;
  padding: 10px;
}
#scrollable-parents {
  height: 500px;
  width: 400px;
  overflow: scroll;
  float: left;
  background-color: #3498DB;
  margin: 5px;
  padding: 10px;
}
#scrollable-childs {
  height: 500px;
  width: 400px;
  overflow: scroll;
  float: left;
  background-color: #3498DB;
  margin: 5px;
  padding: 10px;
}

#statusbar {
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    /* width: 100%; */
    height: 15px;
    text-align: right;
    padding: 10px;
    padding-right: 20px;
    background-color: #3498DB;
}

select {
text-align: center;
background-color: #ECF0F1;
border: 2px solid transparent;
border-radius: 3px;
font-size: 16px;
font-weight: 200;
padding: 10px 0;
width: 250px;
transition: border .5s;
}

select:focus {
border: 2px solid #3498DB;
box-shadow: none;
}

.btn {
border: 2px solid transparent;
background: #3498DB;
color: #ffffff;
font-size: 16px;
line-height: 25px;
padding: 10px 0;
text-decoration: none;
text-shadow: none;
border-radius: 3px;
box-shadow: none;
transition: 0.25s;
display: block;
width: 250px;
margin: 0 auto;
}

a {
  color: white;
}
