<html lang="de">
  <head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Incident Overview | HMG Services</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <!-- <link rel="stylesheet" href="/static/style_dashboard.css" type="text/css"> -->
    <link rel="stylesheet" href="/static/style.css" type="text/css">
    <link rel="icon" href="/favicon.ico" type="image/x-icon">
    <script>

      $(function() {
        function reloadData() {
          var apiobjget    = "http://localhost:4005/object/api/object/get/"
          var apiobjlist   = "http://localhost:4005/object/api/get/objectlist";
          var apifilelist  = "http://localhost:4005/object/api/get/template/list";
          var apichilddata = "http://localhost:4005/object/api/object/get/childs/from/" + activeObject ;
          selectedObject = $("div#aojb").html();
          getParentData();
          getObjectData(apiobjget + selectedObject);
          // getApiChildData(apichilddata);
          getChildData(apichilddata);
          // setTimeout( function(){ reloadData(); }, 10000);
        }
        reloadData();
      });
    </script>
  </head>
<body>

{% if user is defined%}
<div id="statusbar">
Username: {{ user.username }} ({{ user.email }}) <a href="/profile">Profil</a> <a href="/sign-out">Logout</a>
</div>
{% endif %}

<hr>
{% if state is defined %}
  {% if state == 1 %}
    {{ text }} {{ uuid }}
  {% endif %}
{% endif %}

<div style="visibility: hidden; position: relative; top:120px;" id="aobj">{{ id }}</div>

<div id="status" style="text-align:center; display:none; background-color: #eeaa00; position:fixed; left:30%; right:30%; top:2px; margin: 5px; padding: 5px;">Status:</div>

<table>
  <tr>
    <td>
      <b>Select object:</b>
        <form action="/object/redirect" method="POST">
        <select name="id" id="objlist">
        </select>
      <button type="button" class="btn" id="selectObject">Select</button>
      </form>
    </td>
    <td>
      <b>Add Parent to Object:</b>
      <form action="/object/addparent" method="POST">
        <select name="parent_obj" id="parentlist">
        <input type="hidden" name="obj_id" value="{{ data['id'] }}">
        <button type="button" class="addParent btn">Add</button>
      </form>
    </td>
    <td>
      <b>Add Child to Object:</b>
      <form action="/object/addchild" method="POST" id="addChild">
        <select name="child_obj" id="childlist"></select>
        <input type="hidden" name="obj_id" value="{{ data['id'] }}">
        <button type="button" class="addChild btn">Add</button>
      </form>
    </td>
    <td align="left">
      <b>Neues Object anlegen:</b>
      <form action="/object/add" method="POST">
        <div class="form-group" style="align:left;">
          <label>Name</label>
          <input class="form-control" type="text" name="name">
          <label>With template fields?</label>
          <input type="checkbox" name="fromtpl">
            <select name="tpl" id="filelist">
            </select>
          <button type="submit" class="btn btn-primary">Add</button>
        </div>
      </form>
    </td>
  </tr>
</table>


<div>
  <button type="button" class="#overviewimage">Ein-/ausblenden</button>
    <img id="overviewimage" src="/static/{{ id }}.png" width="200">
</div>
  <div id="scrollable-content">
    <div id="objdata"></div>
      <b>Childs:</b>
      <div id="childdata"></div>
  <hr>

    <!-- <form action="/object/addfield/" method="POST"> -->
    <form action="/object/api/object/add/field/" method="POST" id="addFieldForm">
      <div class="form-group">
        <label>Fieldame</label>
        <input class="form-control" type="text" name="name"><br>
        <label>Value</label>
        <input class="form-control" type="text" name="value">
        <input class="form-control" type="hidden" name="id" value="{{ id }}">
        <button type="button" class="addFieldFormbtn">Add</button>
      </div>
    </form>
    Löschen: <a href="/object/delete/{{ data['id'] }}">{{ data['id'] }} {{ data['name'] }}</a>
  </div>

  <div id="scrollable-parents">
    <b>Parents:</b>
    <div>
      <div id="pdata"></div>
    </div>
  </div>
  <div id="scrollable-childs">
    <b>Childs:</b>
    <div>
      <div id="cdata"></div>
    </div>
  </div>
<script src="/static/api.js"></script>
</body>
</html>
