<html lang="de">
  <head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Incident Overview | HMG Services</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <!-- <link rel="stylesheet" href="/static/style_dashboard.css" type="text/css"> -->
    <link rel="icon" href="/favicon.ico" type="image/x-icon">
<script>
  /* $(document).ready(function() { */
  $(document).ready(function() {
  /*   (function() { */
      var apiobjget    = "http://localhost:4005/object/api/object/get/{{ id }}";
      var apiobjlist   = "http://localhost:4005/object/api/get/objectlist";
      var apifilelist  = "http://localhost:4005/object/api/get/template/list";
      var apichilddata = "http://localhost:4005/object/api/object/get/childs/from/{{ id }}";
      $.getJSON(apiobjlist, function(emp) {
        for (var i in emp)
        {
          $('#objlist').append('<option value='+emp[i].id+'>'+ emp[i].id + ' ' + emp[i].name +  '</p>');
        }
      });
    });
</script>
<!-- { % extends "public/templates/public_template.html" % } -->


{% block title %}Profile{% endblock %}
<!-- <a href="/object/1">Toolserver</a> -->
<a href="/sign-out">Logout</a><br>
<b>Select object:</b>
  <form action="/object/redirect" method="POST">
  <select name="id" id="objlist">
  </select>
<button type="submit" class="btn btn-primary">Select</button>
</form>

{% block main %}

<div class="container">
  <div class="row">
    <div class="col">

      <h1>Profile</h1>
      <hr>

      <div class="card">
        <div class="card-body">
          <h4>{{ user["username"] }}</h4>
          <hr>

          <p>{{ user["email"] }}</p>
          <p class="text-muted">{{ user["bio"] }}</p>

        </div>
      </div>


    </div>
  </div>
</div>

UUID: {{ uuid }}

{% endblock %}
