<!-- { % extends "public/templates/public_template.html" % } -->

{% block title %}sign up{% endblock %}

{% block main %}

<div class="container">
  <div class="row">
    <div class="col">

      <h1>Sign in</h1>
      <hr>

      <form action="/sign-in" method="POST">

        <div class="form-group">
          <label>Username</label>
          <input class="form-control" type="text" name="username">
        </div>

        <div class="form-group">
          <label>Password</label>
          <input class="form-control" type="password" name="password">
        </div>

        <div class="form-group">
          <input class="form-control" type="hidden" name="service" value="{{ service }}">
        </div>

        <button type="submit" class="btn btn-primary">Sign in</button>

      </form>

    </div>
  </div>
</div>

{% endblock %}
