
{% if user is defined%}
Username: {{ user.username }} ({{ user.email }}) <a href="/profile">Profil</a> <a href="/sign-out">Logout</a>
{% endif %}

{% if state is defined %}
  {% if state == 1 %}
    {{ text }} {{ uuid }}
  {% endif %}
{% endif %}

<div>
  <b>Add New Template:</b>
  <form action="/object/template/add" method="POST">
    <div class="form-group">
      <label>Templatename:</label>
      <input name="name" value="" type="text">
  <button type="submit" class="btn btn-primary">Add</button>
  </form>
</div>
<hr>

<p>Templatelist:</p>
{% if tpl is defined %}
  {% for elem in tpl %}
  <a href="/object/template/get/{{ elem }}">{{ elem }}</a> <br>
  {% endfor %}
{% endif %}
<hr>
{% if data is defined %}
<div>
  <b>Add Field to Template:</b>
  <form action="/object/template/addfield" method="POST">
    <div class="form-group">
      <label>Fieldname:</label>
      <input name="name" value="" type="text">
      <label>Value:</label>
      <input name="value" value="" type="text">
      <input name="tpl" value="{{ id }}" type="hidden">
      <button type="submit" class="btn btn-primary">Add</button>
    </div>
  </form>
</div>
<hr>
{% for k in data %}
    <p><b>{{ k|capitalize }}</b>: {{ data[k] }} <a href="/object/template/delfield/{{ id }}/{{ k }}">Löschen</a></p> 
{% endfor %}
{% endif %}
